body{
text-align: center;
font-family: 'Sans Serif', 'Helvetica';

}
h1{
font-size: 40px; 
}
table{
border: collapse;
width: 100%;
}
th, td{
padding: 10px;
text-align: left;
border-bottom: 3px solid #ccc; 
}
