<style>
<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
body{
text-align: center;
font-family: 'Sans Serif', 'Comic Sans MS';
}

h1{
text-align: center;
}

h2{
text-align: center;
}

p{
text-align: center;
margin: auto;
width: 500px;
}

</style>
