<style>
<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
font-family: 'Sans Serif', 'Comic Sans MS';
body{
text-align: center;

}

h1{
text-align: center;

}

h2{
text-align: center;

}

p{
text-align: center;
margin: auto;
width: 500px;

background: white;
}

</style>
